# Hugo build output
exampleSite/static
exampleSite/public/
exampleSite/resources/
resources/

# Hugo lock file
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
